#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
}

input {
    background-color: #ffffff !important;
}

h4 {
    margin: 10px;
}

main {
    margin-top: 70px;
}

.icon-sun {
    color: #fff;
}

.switch-modes-helper {
    background: #FAFAFA;
    color: #363537;
    transition: all 0.25s linear;
    /*gradient: linear-gradient(#39598A, #79D7ED);*/
}

#switch-modes-helper {
    background: #FAFAFA;
    color: #363537;
    transition: all 0.25s linear;
    /*gradient: linear-gradient(#39598A, #79D7ED);*/
}

