.slide-container {
    margin: auto;
    /*margin-top: 70px;*/
}

.slide {
    background: #1a73e8;
    margin-bottom: 20px;
    border-radius: 15px;
}

.slide-sights {
    display: flex;
    justify-content: space-between;
}